.version.index /* version checker */
{
	color: #0000F9;
	background-color: #B5DCB9;
}

.html
{
	background: #FFFFFF url("../images/png.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 465px;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu274
{
	z-index: 56;
	width: 0.01px;
	height: 147px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u288
{
	position: absolute;
	width: 199px;
	height: 147px;
	background-color: transparent;
}

#u288popup
{
	z-index: 57;
}

#u291
{
	z-index: 58;
	width: 199px;
	height: 147px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u291_clip
{
	overflow: hidden;
	width: 199px;
	height: 147px;
}

#u291_img
{
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: -1px;
}

#u327
{
	z-index: 60;
	width: 199px;
	height: 147px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu102
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -117px;
	margin-left: 24px;
}

#u102
{
	z-index: 2;
	width: 817px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 47px;
	background: transparent url("../images/bg-top.png") no-repeat left top;
	background-size: cover;
}

#u102_position_content
{
	padding-top: 119px;
	padding-bottom: 99px;
}

#u89-4
{
	z-index: 3;
	width: 697px;
	min-height: 65px;
	color: #3A5881;
	line-height: 52px;
	font-size: 43px;
	font-family: changa-one, sans-serif;
	font-weight: 400;
	margin-left: 172px;
	position: relative;
}

#pu235
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 93px;
}

#u235
{
	z-index: 21;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u235:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin: 0px -10000px 0px 0px;
}

#u235_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u202
{
	z-index: 15;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 68px;
}

#u202:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin: 0px -10000px 0px 0px;
}

#pu225
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 9px;
}

#u225
{
	z-index: 19;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u225:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin: 0px -10000px 0px 0px;
}

#u196
{
	z-index: 13;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 68px;
}

#u196:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin: 0px -10000px 0px 0px;
}

#u235:active,#u202:active,#u225:active,#u196:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u266
{
	z-index: 55;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -28px;
	margin-top: 11px;
	position: relative;
}

#u110-4
{
	z-index: 7;
	width: 85px;
	min-height: 37px;
	color: #7F7F7F;
	line-height: 28px;
	font-size: 23px;
	font-family: changa-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 612px;
}

#u190
{
	z-index: 11;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 362px;
}

#u190:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin: 362px -10000px 0px 0px;
}

#u190:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 362px -10000px 0px 0px;
}

#u208
{
	z-index: 17;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
}

#u208:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin: 295px -10000px 0px 0px;
}

#u208:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 295px -10000px 0px 0px;
}

#u244-32
{
	z-index: 23;
	width: 647px;
	min-height: 254px;
	line-height: 21px;
	font-size: 18px;
	text-align: left;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 219px;
}

#u244-2,#u244-4,#u244-12,#u244-13,#u244-21,#u244-22,#u244-24,#u244-25,#u244-26,#u244-29
{
	color: #7F7F7F;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

